<section class="Sec1-Registeration">
    <div class="main">
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <div class="headline center-align">
                            <b>New User Registeration</b>
                        </div>
                        <br>
                        <label for="">Username:</label>
                        <input type="text" name="username" id="username" placeholder="Enter username"><br>
                        
                        <label for="">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Enter Email"><br>
                        
                        <label for="">Password:</label>
                        <input type="password" name="password" id="password" placeholder="Enter Password"><br>
                        
                        <label for="">Confirm Password:</label>
                        <input type="password" name="password" id="password" placeholder="Confirm Password"><br>
    
                        <button type="submit" [routerLink]="['/user/login']">Register</button>
                    
                    
                    </div>
                </div>
            </div>
            <div class="col s4"></div>
        </div>
    </div>
</section>
