<section class="Sec1-login">
<div class="main">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div class="card">
                <div class="card-content">
                    <div class="headline center-align">
                        <b>Login</b>
                    </div>
                    <label for="">Username:</label>
                    <input type="text" name="username" placeholder="Enter Username" id="username">
                    <br>
                    <label for="">Password:</label>
                    <input type="password" name="pwd" placeholder="Enter Password" id="pwd">
                    <br><br>
                    <button type="submit" [routerLink]="['/main']">Login</button>
                </div>
            </div>
        </div>
        <div class="col s4"></div>
    </div>
    
</div>
</section>
